<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Rewriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Rewriter.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>yourapikey</value>
      </setting>
      <setting name="LastDestinationDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSourceDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDirectoryNamingTemplate" serializeAs="String">
        <value>{year}\{title}</value>
      </setting>
      <setting name="LastFileNamingTemplate" serializeAs="String">
        <value>{title} ({year}){source-extension}</value>
      </setting>
      <setting name="VideoFileExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.mp4</string>
            <string>.mkv</string>
            <string>.avi</string>
          </ArrayOfString>
        </value>
      </setting>
    </Rewriter.Properties.Settings>
  </userSettings>
</configuration>
